.container {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.container h1 {
    grid-column: 1 / span 2;
    text-align: center;
}

@media (min-width: 992px) {
    .container {
        grid-template-columns: 2fr 3fr;
    }
}