h3.title {
    text-align: center;
    font-size: 2rem;
    color: #a47c64;
}

.category {
    background-color: #f9e1d55a;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 2rem;
}

.category__header,
.category__header--buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category__header--buttons {
    margin-right: 0.5rem;
}

.category__header h4 {
    font-size: 1.5rem;
    margin: 1rem 0.5rem;
    color: #a47c64;
}

.category__header--edit {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: fit-content;
    align-items: center;
}

.category__header--edit button {
    margin: 0 0.25rem;
}