.main-section__info h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
    color: #fabc9d;
}

.main-section__info h2 {
    font-size: 2.5rem;
    margin: 1rem 0;
}

.main-section__info h1,
.main-section__info h2 {
    font-weight: 900;
}

.main-section__info p {
    line-height: 125%;
    font-size: 1.25rem;
    color: #a47c64;
}

.main-section__buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-evenly;
}

.main__bubble {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 66%;
}

.main__bubble a {
    align-self: center;
    width: fit-content;
}

.page-content {
    width: 100%;
    height: 100%;
}

.section {
    width: 90%;
    background-color: #a47c64;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 1rem;
}

.section h1 {
    text-align: center;
    color: #fabc9d;
    font-size: 2rem;
}

.cta-container {
    width: 100%;
    background-color: #fabc9d;
    border-radius: 1rem;
    padding: 0 1rem 1rem;
    margin-top: 1rem;
}

.cta-container img {
    width: 100%;
}

.cta-container h2 {
    color: #747c84;
    text-align: center;
    margin-top: 0;
}

.cta-container p {
    color: #a47c64;
    text-align: center;
}

.main-section__info.light h1 {
    color: #a47c64;
    font-size: 2.5rem;
    text-align: center;
}

.main-section__info.light p {
    color: #171717;
}

@media (min-width: 768px) {
    .page-content .section {
        display: -ms-grid;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1rem;
    }

    .page-content .section h1 {
        grid-column: 1 / span 2;
    }

    
    .cta-container {
        margin-top: 0;
    }
}

@media (min-width: 992px) {
    .main-container {
        display: -ms-grid;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .main-container section:first-child {
        grid-column: 1 / span 2;
        display: -ms-flexbox;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        align-items: center;
    }

    .main-container section:first-child > * {
        width: 50%;
    }
}