.link, .btn {
    text-decoration: none;
    color: #171717;
    background-color: #fabc9d;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 2rem;
    transform: scale(1);
    transition: all 0.2s linear;
}

.btn {
    border: none;
    width: fit-content;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link:hover,
.link:active,
.btn:hover,
.btn:active {
    background-color: #747c84;
    color: #fabc9d;
}

.link:active,
.btn:active {
    transform: scale(0.9);
}

.link--dark,
.btn--dark {
    background-color: #a47c64;
    color: #fabc9d
}

.btn span {
    margin: 0 1rem;
}

@media (min-width: 576px) {
    .btn span {
        display: none;
    }
}

@media (min-width: 1200px) {
    .btn span {
        display: initial;
    }

    .btn {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}