
.error-page, 
.not-found {
    margin: 0 1rem;
}

.error-page__header,
.not-found__header {
    font-size: 2.5rem;
}

.error-page__sorry,
.not-found__sorry {
    font-size: 2rem;
    font-style: italic;
}

.error-page__status {
    font-size: 1.5rem;
    font-weight: bold;
}

.error-page__message {
    font-size: 1rem;
}

.not-found__links,
.error-page__links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.not-found__links button,
.not-found__links a,
.error-page__links button,
.error-page__links a {
    margin: 0 auto;
}

@media (min-width: 768px) {
    .error-page,
    .not-found {
        width: 70%;
        margin: 5rem auto;
    }
}

@media (min-width: 992px) {
      .error-page,
      .not-found {
        width: 50%;
    }
}